body {
    font-family: Helvetica;
    font-size: 14px;
    background-color: #ddd;
    width: 100%;
    margin: 0;
    height: 100%;
    font-weight:300;
    /*padding-top: 50px;*/
}
html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }

.navbar .nav {
    margin-left:200px;
}
#header {
    position: relative;
    height: 65px;
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #e4e0e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e4e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e4e0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e4e0e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e4e0e0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e4e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e0e0',GradientType=0 ); /* IE6-8 */
}

.js-error {
    position: absolute;
    top: -4px;
    padding: 10px 20px;
    background-color: rgba(255,100,100, 0.5);
    color: white;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    text-align: center;
    display:none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#hero {
    width:100%;
    height:100%;
    padding-top:50px;
    background: 0 0px url(https://launchrock-assets.s3.amazonaws.com/background-files/OW7UDCXZ_1372998607059.jpg?_=0);
    background-size: cover;
}
#hero .wrapper{
    background-color:rgba(0,0,0,0.5);
    color:#eee;
    padding: 25px 50px;
}
#hero .wrapper h1{
   font-weight:400; 
}
#hero .wrapper h4{
   font-weight:400; 
    margin:20px 10px;
}
#hero .wrapper p{
    margin:20px 10px;
    max-width:720px;
}
#hero .wrapper .input-group {
    width:350px;
    margin-left:10px;
}

#beta-form {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding:10px 0;
    border:1px white solid;
    background-color:rgba(0,0,0,0.5);
    color:white;
    text-align:center;
}
#subcontent {
    width:960px;
    margin-left:auto;
    margin-right:auto;
}
.submodule {
    width:300px;
    float:left;
    margin:40px 10px;
}

.social-button {
    margin: 0 3px;
}

#share {
    display:none;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
